{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": false,
  "tabWidth": 4,
  "printWidth": 120,
  "proseWrap": "preserve",
  "arrowParens": "always",
  "bracketSpacing": true,
  "singleAttributePerLine": true
}
